.Body {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Images/Login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.login-container {
  max-width: 400px;
  padding: 30px;
  background: linear-gradient(135deg, #97f897, #e595ee), center/cover; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; 
}

.login-container h2 {
  text-align: center;
  color: #fff; 
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  font-weight: bold;
  color: #ddd; 
}

.login-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.login-container input:focus {
  border-color: #4caf50;
  outline: none;
}

.login-container button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #45a049;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}

.login-container a {
  color: #4caf50;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-image {
  max-width: 350px;
  margin-right: 20px;
  border-radius: 8px;
}

.login-image img {
  width: 100%;
  border-radius: 8px;
}
