header {
  background: linear-gradient(135deg, #97f897, #e595ee);
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.navbar-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  background-color: black;
}
